*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family:'Times New Roman', Times, serif
}
h1 {
    align-self: center;
    justify-content: center;
    text-align: center;
}
body {
    background-color: rgb(249, 249, 249);
}
.folder {
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 8% 20% 5% 20%;
    background-color: rgb(234, 228, 224);
    border-radius: 5rem;
    padding: 5%;
}
.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.english{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.swedish {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.english > a:nth-child(1) {
    width: 50%;
    padding: 2rem 0;
}
.swedish > a:nth-child(1){
    width: 50%;
    padding: 2rem 0;
}
a {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-decoration-line: none;
    color: black;
}